<div class="container-form">
  <div class="form-new form-group">
    <div class="form-content">
      <h1>Book <%= @workshop.name %>!</h1>
      <%= simple_form_for [@workshop, @booking], wrapper: :horizontal_form, html: { class: 'form-group '} do |b| %>
        <h2>How many people are attending?</h2>
        <%= b.input :number, input_html: { class: 'booking-input centered-input', style: "width: 100%" }, label: false, placeholder: "Number" %>
      <%= b.button :submit, class: 'btn-info' %>
    </div>
    <% end %>
  </div>
</div>
