<h1>Browse Workshops</h1>

<%= link_to 'HOSTING A WORKSHOP? LIST IT HERE!', new_workshop_path, class: "btn btn-primary" %>

<% @workshops.each do |workshop| %>
 <h4><%= link_to workshop.name, workshop_path(workshop) %></h4>
  <p><%= workshop.description %></p>
  <%= link_to workshop_favourited_path(workshop), method: :post do %>
    <% if current_user.voted_up_on? workshop %>
      <i class="fas fa-stroopwafel"></i>
    <% else %>
     Not in your favourites yet
    <% end %>
  <% end %>
<% end %>



