// Specific CSS for your home-page
body {
  background-color: #eee9eb;
}
#search-box-drop{
  background: repeating-linear-gradient(45deg,transparent,transparent 5px,#ccc 5px,#ccc 20px),linear-gradient(to bottom,#eee,#999);

    flex-wrap: wrap;
}
.main {
  min-height: calc(100vh - 191px)
}

#splash-info {
  font-size: 14px;
}

.header-box {
  height: 40vh;
  text-align: center;
  padding-bottom: 20px;
  height: 40vh;
  text-align: center;
  padding-bottom: 30%;
}


.landing-title {
  font-size: 200px;
  color: #8C3DC3;
  padding-top: 20px;
  background-color: #DDFDB1;
}

.landing-subheading {
  font-size: 50px;
  padding-top: 20px;
  padding-bottom: 20px;
  color: #8C3DC3;
  font-size: 46px;
  color: #8147BC;
}

.landing-search {
  display: flex;
  width: 50vh;
  margin: 0 auto;
  padding-top: 2em;
  justify-content: center;
}

.landing-icon {
  position: relative;
  padding: 1em;
  margin-left: 5em;
  margin-top: 1em;
}

#search-bar {
  flex: 1 auto;
}

#search-button {
  flex: 2 auto;
}

.icon-bar {
  display: flex;
  background-color: #D4FFA8;
  width: 100vw;
  height: 25vh;
  margin-top: 3em;

}

.landing-box-1 {
  display: flex;
  color: white;
  width: 70vw;
  margin: 0 auto;
  position: relative;
}

.landing-about-1 {
  display: flex;
  flex: 2 auto;
  background-color: #FF5634;
  justify-content: flex-end;
  padding: 13%;
  margin-top: 20%;
  text-align: center;
}

.text-content-1 {
  flex: 0 0 50%;
}

.landing-image-1 {
  flex: 1 auto;
  width: 470px;
  padding-top: 50%;
}

.landing-image-box-1 {
  position: absolute;
  top: 138px;
  left: -70px;
}

.seperator-box-1 {
  height: 200px;
}

.landing-image- {
  flex: 1 auto;
  width: 470px;
}

.landing-box-2 {
  display: flex;
  color: white;
  width: 70vw;
  margin: 0 auto;
  position: relative;
}

.landing-about-2 {
  display: flex;
  flex: 2 auto;
  background-color: #8C3DC3;
  justify-content: flex-start;
  padding: 10%;
}

.text-content-2 {
  flex: 0 0 50%;
}

.landing-image-2 {
  flex: 1 auto;
  width: 440px;
}

.landing-image-box-2 {
  position: absolute;
  top: 138px;
  left: 620px;
}

.seperator-box-2 {
  height: 200px;
}

.landing-box-3 {
  display: flex;
  color: white;
  width: 100vw;
  height: 50vh;
  margin: 0 auto;
  position: relative;
  background: #D4FFA8;
}

.text-content-3 {
  margin-left: 12em;
  margin-right: 12em;
  margin-top: 2em;
  margin-bottom: 2em;
  color: black;
}

#home-to-top {
  text-align: center;
}

#all-icons {
  height: 20em;
}

#category-icon {

}

#footer-logo {
  text-align: center;
 }
  .span3 {
      width:200px;
  }
    .droppable {
         height:400px;
    }

  .droppable:hover {
//      background: red;
  }
  .draggable:hover {
      background: olive;
  }
  .editable:hover {
      background: cyan;
  }
  .ui-state-active {
      background: red;
  }
  .span3 {
      border-style:solid;
      border-width:1px;
  }

.icon-home {
  position: relative;
  display: flex;
  width: 41px;
  justify-content: center;
  margin: 10px 20px;
}

.sortable-container {
ul {
  padding: 0;
}
h2 {
  color: black;
}

}

.sortable-container {
  li {
    list-style: none;
    display: flex;
    flex-direction: column;
        justify-content: flex-start;
        height:fit-content;

  }
}
.bigger{
 img{
  height:100px !important;
  width:100px !important;
 }
}
.col-xs-8{
  h2{
    color: black;
  }
}

// .watermark {
//   color: black;
//   font-size: 150%;
//   overflow: hidden;
//   z-index: 98;
//   position: absolute;
//   left: 0;
//   top: 0;
// }

// .watermark:after {
//   width: 100%;
//   font-size: 150%;
// /*  position: absolute; */
//   content: "Drag and drop your choices here";
//   z-index: 99;
//   opacity: 0.45;
// }

.icon-hover{
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: white;
  color: black;
  opacity: 0;
  transition: opacity 3s ease;
}

.icon-home:hover .icon-hover {
  opacity: 1;
}

.team-container {
  display: flex;
  justify-content: space-around;
}

.team-img {
  border-radius: 50%;
  width: 150px;
  height: 150px;
}

.meet-team-header {
  text-align: center;
  padding: 30px;
  font-weight: bolder;
  font-size: 30px;
}

.text-content-2 {
  text-align: center;
}

.team-column {
  display: flex;
  justify-content: space-around;
  flex-direction: column;
  align-items: center;
  padding: 10px 40px 10px 40px;
  h1 {
    font-size: 25px;
  }
  a:hover {
 text-decoration: none !important;
  }

}

.landing-box-3 {
  display: flex;
  justify-content: center;
  align-items: center;


}
