
.workshop-index-card {
  height: 300px;
  background-color: white;
  position: relative;
  margin: 1em;
}

.workshop-top-image-box {
  height: 40%;
  background-size: cover;
  overflow: hidden;
}

.workshop-main-text {
  width: 80%;
  margin: 0 auto;
  margin-top: 7px;
  a {
    color: black;
    text-decoration: none;
    font-size: 15px;
  }
    p {
    color: black;
    font-size: 10px;
    padding-top: 1em;
  }
}

.workshop-card-image {
  width: 100%;
}

.workshop-icon-flex {
  position: absolute;
  bottom: 6%;
  left: 9%
}

.favourite-ticker {
   position: absolute;
   bottom: 6%;
   left: 86%;
}

.shadowbox {
  -webkit-box-shadow: 0px 9px 63px -8px rgba(156,151,156,1);
  -moz-box-shadow: 0px 9px 63px -8px rgba(156,151,156,1);
  box-shadow: 0px 9px 63px -8px rgba(156,151,156,1);
}

#workshop-index-address {
 position: absolute;
 bottom: 18%;
 left: 10%;
 font-size: 11px;
 width: 70%;
}

#favourite {
  font-size: 28px;
}

#browse-header {
  text-align: left;
  margin-left: 9%;
}

#hostbutton {
    padding-left: 30em;
    padding-bottom: 1em;
    border-radius: 3px;
}

.workshop-index-card.booking-confirm {
  margin: 4em;
}



// .workshop-index-content {
//   background-color: #ED6242;
//   color: white;
//   // padding: 10px;
//   // margin: 10px;
//   // border-radius: 20px;
//   // text-align: center;
//   // display: flex;
//   align-items: center;
//   justify-content: space-around;
//   h1 {
//     font-size: 50px;
//   }
//   h2 {
//     font-size: 30px;
//   }
//   a {
//     color: black;
//   }
// }

// .workshop-index-address {
//  color: black;
//  font-size: 10px;
//  padding-top: 1em;
// }

// .card {
//   display: flex;
//   border-radius: 3px;
//   background-color: #FC573D;
// }


// .card-title {
//   flex: 1 auto;
//   justify-content: flex-start;

// }

// .card-body {
//   flex: 2 auto;
//   justify-content: flex-start;
//   margin-left: -1em;
//   width: 66.666%
// }


// .card-text {
//  flex: 1 auto;
//  font-size: 12px;
//  text-align: left;
//  margin-right: 21em;
//  margin-top: 5em;
//  padding: -2em;
// }

// .card-icons {
//   flex: 2 auto;
//   text-align: right;
//   display: flex;
//   justify-content: space-between;
// }

