<div class="container">
  <div class="">
    <h1>Great! You're going to <%= @workshop.name %></h1>
    <%= link_to 'See My Dashboard', dashboard_path, class: 'btn-info' %>
    <%= link_to 'Make Another Booking', workshops_path, class: 'btn-book' %>
  </div>
</div>

