.banner {
  color: white;
  text-align: center;
  height: 60vh;
  /* if you have a 70px navbar => height: calc(100vh - 70px); */
  background-size: cover !important;
  display: flex;
  align-items: center;
  justify-content: center;
}
.banner h1 {
  font-size: 50px;
}
.banner p {
  font-size: 25px;
  font-weight: lighter;
  color: rgb(255, 255, 255);
  opacity: 0.6;
  margin-bottom: 30px;
}

.show-box {
  display: flex;
  padding: 2em;
  justify-content: space-between;
  // flex-direction: column;
  margin: 20px;
  border-radius: 5px;
}

.show-info {
  flex: 2 auto;
  width: 200px;
  justify-content: center;
  background: #C4C4C4;
}

.workshop-show-data {
  padding: 2em;
}


#show-description {
  background-color: #D5FEAC;
}

.show-button-container {
  display: flex;
  justify-content: center;
}

.show-button-book {
  padding: 2em;
}

.show-button-info {
  padding: 2em;
}

.show-map {
  flex: 1 auto;
  background: #C4C4C4;
  margin-left: 50px;
}

