.banner {
  color: white;
  text-align: center;
  height: 60vh;
  /* if you have a 70px navbar => height: calc(100vh - 70px); */
  background-size: cover !important;
  display: flex;
  align-items: center;
  justify-content: center;
}
.banner h1 {
  font-size: 50px;
  background-color: #DDFCB4;
  padding: 10px 20px 10px 20px;
  color: #857D74;
  opacity: 0.8;
}
.banner p {
  font-size: 25px;
  font-weight: lighter;
  color: rgb(255, 255, 255);
  opacity: 0.6;
  margin-bottom: 30px;
}

.centered-input {
    width: 300px !important;
    float: none !important;
    margin: 0 auto !important;
    margin-right: 0 !important;
}

.show-box {
  display: flex;
  padding: 2em;
  padding-top: 0;
  justify-content: space-between;
  // flex-direction: column;
  margin: 20px;
  border-radius: 5px;
  position:relative;
}


.show-info {
  flex: 2 auto;
  // height: calc(100vh + 200px);
  width: 500px;
  justify-content: center;
  background: #C4C4C4;
  position: relative;
  top: -100px;
  -webkit-box-shadow: 0px 9px 63px -8px rgba(156,151,156,1);
  -moz-box-shadow: 0px 9px 63px -8px rgba(156,151,156,1);
  box-shadow: 0px 9px 63px -8px rgba(156,151,156,1);
}

.workshop-show-data {
  padding: 10px 20px 10px 20px;
  margin: 0 14px;
}

.booking-new-form {

}
.container-form {
  text-align: center;
  margin: 0px 40px;

}


#show-description {
  background-color: #D5FEAC;
}

#workshop-show-headers {
  font-weight: bold;
  color: white;
}

.show-button-container {
  display: flex;
  justify-content: center;
  padding: 10px 20px 10px 20px;
}

.show-button-book {
  padding: 2em;
}

.show-button-info {
  padding: 2em;
}

.show-map {
  flex: 1 auto;
  background: #C4C4C4;
  margin-left: 47px;
  -webkit-box-shadow: 0px 9px 63px -8px rgba(156,151,156,1);
  -moz-box-shadow: 0px 9px 63px -8px rgba(156,151,156,1);
  box-shadow: 0px 9px 63px -8px rgba(156,151,156,1);
}

.map-booking-show {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.no-margin-top {
  margin-top: 0 !important;
}

.heart-class {
  color: black;
  top: 3%;
}

.fa-heart:before {
  color: #655D5C;
}
