 <h1>Welcome to your dashboard!</h1>
<id class="dashboard-container">
    <div class="card">
      <div class="card-content">
        <id class="favourited-workshop-section">
          <h1>My favourited classes:</h1>
           <% current_user.find_liked_items.each do |workshop| %>
           <%=  workshop.name %>
           <% end %>
        </id>
        </div>
      </div>
       <div class="card">
        <div class="card-content">
        <id class="booked-section">
          <h1>My booked classes:</h1>
          <%= @bookings.each do |booking| %>
          <h2><%= booking.workshop.name %></h2>
          <p>Booked: <strong><%= booking.date %></strong></p>
        <% end %>
        </id>
      </div>
    </div>
</id>
