
<div class="header-box">

<h1 class="landing-title">ARTHUDDLE</h1>
<h2 class="landing-subheading">Discover your creative potential</h2>


<h3 style="text-align: center">***</h3>

<div class="container">
  <%= render 'form', workshop: @workshops_path %>
</div>

</div>


<div class="landing-box-1">
  <div class>


     <div class="landing-about-1">
      Lorem ipsum dolor sit amet, consectetur adipiscing elit. In dui sem, dapibus sit amet orci lacinia, consectetur tincidunt quam. Nunc vestibulum arcu nisl, eget dictum ante laoreet blandit. Praesent vitae tellus at lorem ultrices mollis. Maecenas scelerisque, nisi ut vestibulum rhoncus, dui metus vulputate augue, non venenatis nisi ex non risus.
    </div>
  </div>
</div>

<div class="about-box-2">

</div>


<div class="about-box-2">

</div>
