/* -------------------------------------
 * Your CSS code for flash notices and alerts
* ------------------------------------- */

.alert {
  margin: 0;
  text-align: center;
  color: #655D5C;
  border: none;
  // transition: 5s opacity ease;
}
.alert-info {
  background: #DDFDB1;;
}
.alert-warning {
  background: #FF5634;
}
