.btn-book {
  background-color:#d4ffa8;
  display:inline-block;
  cursor:pointer;
  color:#000000;
  font-size:17px;
  padding:7px 49px;
  text-decoration:none;
}
.btn-book:hover {
  background-color:#ceff99;
}
.btn-book:active {
  position:relative;
  top:1px;
}

.btn-info {
  background-color: #FF5634;
  display:inline-block;
  cursor:pointer;
  color:#ffffff;
  font-size:17px;
  padding:7px 49px;
  text-decoration:none;
}
.btn-info:hover {
  background-color: #D4FFA8;
  color: black;
}
.btn-info:active {
  position:relative;
  top:1px;
}


