.btn-book {
  background-color:#d4ffa8;
  display:inline-block;
  cursor:pointer;
  color:#000000;
  font-size:17px;
  padding:7px 49px;
  text-decoration:none;
}

.btn-book:hover {
  background-color:#ceff99;
}


.btn-book:active {
  position:relative;
  top:1px;
}

.btn-info {
  background-color:#c0bdbd;
  display:inline-block;
  cursor:pointer;
  color:#ffffff;
  font-size:17px;
  padding:7px 49px;
  text-decoration:none;
}
.btn-info:hover {
  background-color:#b5a3a3;
}
.btn-info:active {
  position:relative;
  top:1px;
}

.btn-add {
  background-color:#ffeed0;
  display:inline-block;
  cursor:pointer;
  color:#ffffff;
  font-size:17px;
  padding:7px 49px;
  text-decoration:none;
}
.btn-info:hover {
  background-color:#b5a3a3;
}
.btn-info:active {
  position:relative;
  top:1px;
}





