.card {
  background: white;

//   padding: 64px;
//   box-shadow: 0 0 10px rgba(0,0,0,0.3);
//   align-items: center;
//   justify-content: space-around;
//   h2 {
//     font-size: 50px;
//   }
}

.dashboard-container {
  display: flex;
  justify-content: space-evenly;
  flex-direction: row;
  align-items: flex-start;
}

#favourited-workshop-section {

}

#booked-section {

}

