.dashboard-container {
  display: flex;
  justify-content: space-around;
  flex-direction: row;
  align-items: flex-start;
  flex-wrap: nowrap;
}

.card {
  background-color: #ED6242;
  color: white;
  padding: 10px;
  margin: 10px;
  border-radius: 20px;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: space-around;
  h1 {
    font-size: 50px;
  }
  h2 {
    font-size: 30px;
  }
  a {
    color: white;
  }
  -webkit-box-shadow: 0px 9px 63px -8px rgba(156,151,156,1);
  -moz-box-shadow: 0px 9px 63px -8px rgba(156,151,156,1);
  box-shadow: 0px 9px 63px -8px rgba(156,151,156,1);
}

.card-content {
  padding: 26px;
  text-align: justif;
  text-align: justify;
}

#profile-card {
  width: 17%;
  height: 35vh;
}

#favourited-header {
  font-size: 25px;
}

#booked-header {
  font-size: 25px;
}

#favourited-card {
  margin-left: 0em;
  width: 40%;
  height: 35vh;
}

#booked-card {
  margin-left: 0em;
  width: 40%;
  height: 35vh;
}

#notes-card {
  align-self: flex-end;
  height: 22vh;
}

#favourited-workshop-section {

}

#my-favourited {
  margin-top: -15px;
}

#my-booked {
  margin-top: -15px;
}

#favourited-details {
  font-size: 10px;
}

#booked-section {

}

#booked {
  font-size: 10px;
}

#dashboard-footer {
  margin-top: 5em;
  height: 15vh;
}
