#note-header {
  font-size: 60px;
  text-align: center;
}

#note-about {
  font-size: 30px;
  text-align: center;
}

#note-stamp {
  font-size: 12px;
}

#note-title {
  font-size: 24px;
}

#note-content {
 font-size: 14px;
}


#note-name {
  font-size: 30px;
}

.note-poster {
  margin-top: 3em;
}

.note {
  margin-top: 2em;
  margin-top: 2em;
  background-color: white;
  padding: 26px;
}
